:root {
  --color-grass: 120, 200, 80;
  --color-poison: 181, 103, 206;
  --color-water: 54, 146, 220;
  --color-ground: 232, 113, 54;
  --color-rock: 200, 182, 134;
  --color-normal: 145, 154, 162;
  --color-fighting: 192, 48, 40;
  --color-flying: 137, 170, 227;
  --color-bug: 131, 195, 0;
  --color-ghost: 100, 76, 178;
  --color-steel: 171, 172, 188;
  --color-fire: 240, 128, 48;
  --color-electric: 251, 209, 0;
  --color-psychic: 255, 102, 117;
  --color-ice: 76, 209, 192;
  --color-dragon: 0, 111, 201;
  --color-dark: 91, 84, 102;
  --color-fairy: 238, 153, 172;
  --color-unknown: 104, 160, 144;
  --color-shadow: 47, 0, 88;

  --color-grass-gradient: 84, 155, 49;
  --color-poison-gradient: 102, 41, 102;
  --color-water-gradient: 31, 109, 173;
  --color-ground-gradient: 183, 75, 21;
  --color-rock-gradient: 178, 154, 87;
  --color-normal-gradient: 103, 113, 121;
  --color-fighting-gradient: 135, 33, 28;
  --color-flying-gradient: 73, 124, 212;
  --color-bug-gradient: 82, 122, 0;
  --color-ghost-gradient: 88, 67, 157;
  --color-steel-gradient: 130, 132, 155;
  --color-fire-gradient: 190, 87, 14;
  --color-electric-gradient: 184, 153, 0;
  --color-psychic-gradient: 255, 31, 53;
  --color-ice-gradient: 42, 162, 146;
  --color-dragon-gradient: 0, 67, 122;
  --color-dark-gradient: 50, 46, 56;
  --color-fairy-gradient: 228, 98, 126;
  --color-unknown-gradient: 71, 113, 101;
  --color-shadow-gradient: 11, 0, 20;



  --color-white-30: rgba(255, 255, 255, 0.3);
  --color-white: white;
  --color-font: #444444;
  --color-light-grey: #EFEFEF;
  --color-font-btn: #3860AA;
  --color-btn-bg: #FFCB05;
  --color-btn-border: #3860AA;
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--color-font);
  -webkit-tap-highlight-color: transparent;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  outline: none;
  border: 0px;
}

div{
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
}

.logo {
  margin-top: 16px;
  height: 72px;
  object-fit: contain;
}

.search {
  background-color: white;
  border: 1px solid #666666;
  margin: 24px 16px;
  padding: 8px 12px;
  max-width: 342px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pokemon-background {
  position: relative;
  margin: 0 80px 20px 20px;
  max-width: 280px;
  width: 100%;
  border-radius: 16px;
  padding: 8px 0 16px 16px;
  cursor: pointer;
}

.search input {
  margin-left: 16px;
  width: 100%;
}

.id-number {
  font-weight: bold;
  font-size: 64px;
  position: relative;
}

.pokemon-name {
  position: absolute;
  left: 16px;
  font-size: 24px;
  bottom: 10px;
}

.round-img-category {
  width: 24px;
}

.pokemon-img {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 124px;
  top: 50%;
  left: 100%;
  filter: saturate(1.5);
  transition: width 250ms ease-in-out;
}

.pokemon-background:hover .pokemon-img {
  width: 140px;
}

.load-more-button{
  display: flex;
  justify-content: center;
  margin: 24px 0 32px 0;
}

button{
  font-family: "Roboto", sans-serif;
  padding: 8px 32px ;
  font-size: 16px;
  font-weight: 800;
  color: var(--color-font-btn);
  background-color: var(--color-btn-bg);
  border: 4px solid var(--color-btn-border);
  border-radius: 16px;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
}

button:hover{
  transform: scale(1.05);
}

.overflow-hidden{
  overflow: hidden;
}
/* ----------------------------------- gif ---------------------------------- */

.onload-gifs{
  display: flex;
  justify-content: center;
}

.onload-gifs img{
  margin: 0 16px;
}

/* ---------------------------------- @media --------------------------------- */

@media only screen and (max-width: 420px){
  .pokemon-background {
    margin: 0 80px 16px 16px;
  }
}